.loader {
  display: flex;
  justify-content: center;
  text-align: center;
}
.loading {
  display: block;
  margin: 20px auto;
  border-color: #00ff88;
  box-shadow: 0 0 25px #00ff88;
  filter: drop-shadow(0 0 20px #00ff88);
  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
